img{
    width: 100px;
    height: 150px;
}
h1{
    background-color: rgb(220, 175, 116);
    color: rgb(154, 94, 16);
    margin:  0;
    padding-bottom: 20px;
    box-sizing: border-box;
}
#bstk{
    width: 170px;
    height: 150px;
}
.ula-item {

    color: darkgreen;
    font-size: 50px;
    list-style: none;
}

.main-nav{
    margin-top: -22px;
    padding-left: 0;
    padding-bottom: 5px;
    list-style: none;
    background-color:burlywood;
}
.main-nav__item {
      display: inline-block;
}

.main-nav__item a{
    color: white;
    padding: 5px;

}

.main-nav__item a:hover{
    color: rgb(167, 70, 18) ;
}

.main-nav__item a:active{
    color: brown;
}
.main-nav__item a::after{
    content: "  | ";
}