img{
    width: 100px;
    height: 150px;
}
#bstk{
    width: 170px;
    height: 150px;
}
.ula-item {

    color: darkgreen;
    font-size: 50px;
    list-style: none;
}

.main-nav{
    margin-top: 10px;
  
    padding: 0px;
    list-style: none;
    background-color:burlywood;
}
.main-nav__item {
      display: inline-block;
}

.main-nav__item a{
    color: white;
    padding: 5px;

}

.main-nav__item a:hover{
    color: brown;
}

.main-nav__item a:active{
    color: blue;
}
.main-nav__item a::after{
    content: "  | ";
}